<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    nav ul li{
        display: inline-flex;
        justify-content: space-between;
        
        margin-right: 30px;
        border: 2px solid blueviolet;
        background-color: antiquewhite;
        width: 150px;
        height: 30px;
    }
    a{
        text-align: center;
    }
</style>
<body>
    <nav>
        <ul>
            <a href="#"><li>Home</li></a>
            <a href="#"><li>Profile</li></a>
            <a href="#"><li>Membership</li></a>
        </ul>
    </nav>
    <p>Welcome</p>
    <h2>Welcome to Eugene</h2>
</body>
</html>