{% extends 'index.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
{% block content %}
    <h4>Select a Membership</h4>
    {% for obj in object %}
    <div style="border: 2px solid #000; width: 250px; margin: 8px;">
        <h3 style="color: rgb(13, 104, 104);">Included Courses</h3>
    
        {{obj.membership_type}}
        <var>subscription</var>
        Price: ${{obj.price}}/month
        <ul>
            {% for course in obj.course_set.all %}
                <li>{{course.title}}</li>
            {% endfor %}
        </ul>
        {% if obj.membership_type != 'Free' %}
        <form action="{% url 'membership' %}" method="POST">
            {% csrf_token %}
            {% if obj.membership_type != current_membership %}
                <button class="btn btn-warning">Select</button>
            {% else %}
                <small>This is your current membership</small>
            {% endif %}
            <input type="hidden" name="membership_type" value="{{obj.membership_type}}">
        </form>
        {% endif %}
        <br>

    </div>
    {% endfor %}
    
</body>
</html>

{% endblock content %}
